h1#section-header a,
h2#section-header a,
h3#section-header a,
h4#section-header a,
h5#section-header a {
  display: none;
}

h1#section-header:hover a,
h2#section-header:hover a,
h3#section-header:hover a,
h4#section-header:hover a,
h5#section-header:hover a {
  display: block;
}
a.section-link {
  left: -20px;
  width: 20px;
}
