{% for post in postslist | reverse %}
  <article class="bb b--light-gray postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link no-underline black dim db pv1 ph0-l">
      <h2 class="mb1 dib">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h2>
      <time class="postlist-date gray f6" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></a>
      {% if post.data.excerpt %}
      <p class="georgia lh-copy">{{ post.data.excerpt | safe }}</p>
      {% else %}
      {{post.templateContent | safe}}
      {% endif %}
  </article>
{% endfor %}
