<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body class="avenir">
    <header>
      <div id="container" class="mw7 center tc bb b--light-gray pb3">
        <h1 class="home ">
          <a href="{{ '/' | url }}" class="f3 f2-m f1-l fw2 black-90 mv3 link underline-hover">{{ metadata.title }}</a>
        </h1>
        <div class="nav mt3">
        {%- for entry in collections.all | eleventyNavigation %}
          <a href="{{ entry.url | url }}" class="nav-item{% if entry.url == page.url %} black {% endif %} f4 dib ph2 link mid-gray underline-hover">{{ entry.title }}</a>
        {%- endfor %}
        <a href="https://nfreader.net" class="nav-item f4 dib ph2 link mid-gray underline-hover" target="_blank" rel="noopener noreferrer">↪ nfreader.net</a>
        </div>
      </div>
    </header>

    <main id="container" class="pt3 mw7 center {% if templateClass %}{{ templateClass }}{% endif %}">
      {{ content | safe }}
    </main>

    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
